<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>266995706506-03vikhn4bo9ve34sl0gvjo2fq6jf40vd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.266995706506-03vikhn4bo9ve34sl0gvjo2fq6jf40vd</string>
	<key>API_KEY</key>
	<string>AIzaSyANwpKPO3RjJLk1sH0nV0IlJ9M4Tp5UABY</string>
	<key>GCM_SENDER_ID</key>
	<string>266995706506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gnglab.firechat</string>
	<key>PROJECT_ID</key>
	<string>itc-project-5433b</string>
	<key>STORAGE_BUCKET</key>
	<string>itc-project-5433b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:266995706506:ios:71d6dabc0a0b0e8cf4db73</string>
</dict>
</plist>